/* Add here all your CSS customizations */
.page-header h2 {
    border-bottom-color: #E67C49;
}
td.img_prev_cat img {
    width: 90px;
}
.sts_on {
    color: #0D880C;
    font-size: 15px;
    text-align: center;
    margin: auto;
   
    /* background: #ccc; */
}
.sts_off {
    color: red;
    font-size: 15px;
    text-align: center;
    margin: auto;
   
    /* background: #ccc; */
}
.profilepreview img {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
    background: #ccc;
    box-shadow: 2px 2px 5px;
}
.profilepreview {
    /* background: #ccc; */
    width: 200px;
    height: 200px;
}
td.profile_pic_min img {
    height: 50px;
    border-radius: 100%;
}
ul.errors {
    color: red;
    list-style: none;
    padding: 0;
}
div#mapapedidos {
    width: 100%;
    height: 400px;
    background: #ccc;
    display: block;
}
ng-map {
    height: 100%;
}
div#mapapedidosFull {
    height: 700px;
    display: block;
}
#modal-mapa .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
}
#modal-mapa .modal-content {
    height: 100%;
    padding: 0;
    margin: 0;
}
#modal-mapa .modal-body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.info_page i {
    font-size: 21pt;
    transform: rotate(160deg);
    color: #000;
    text-shadow: 1px 1px 1px #ccc;
}
.info_page {
    color: red;
    text-align: center;
    font-size: 12pt;
}
li.novaVenda i {color: #7DFF0A;}

li.novaVenda a {
    color: #10E40E !important;
}
a.menu-pedidos {
    color: #FFED00 !important;
    background: #000 !important;
}
ul.nav.nav-children.menu-pedidos-in {
    background: #0A0A0A;
}
nav#menu i {
    color: #EC652F;
    text-shadow: 2px 2px 2px #000;
}
ul.nav.nav-children i {
    color: #424040 !Important;
}
.img-invoice img {
    width: 150px;
}
.invoice .bill-data .value {
    display: inline-block;
    margin-left: 10px;
    width: 140px;
}