/* Add here all your CSS customizations */
.page-header h2 {
    border-bottom-color: #E67C49;
}
td.img_prev_cat img {
    width: 90px;
}
.sts_on {
    color: #0D880C;
    font-size: 15px;
    text-align: center;
    margin: auto;
   
    /* background: #ccc; */
}
.sts_off {
    color: red;
    font-size: 15px;
    text-align: center;
    margin: auto;
   
    /* background: #ccc; */
}
.profilepreview img {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
    background: #ccc;
    box-shadow: 2px 2px 5px;
}
.profilepreview {
    /* background: #ccc; */
    width: 200px;
    height: 200px;
}
td.profile_pic_min img {
    height: 50px;
    border-radius: 100%;
}
ul.errors {
    color: red;
    list-style: none;
    padding: 0;
}