/* Add here all your CSS customizations */
ul.nav.nav-pills {
    margin-top: 15px;
}
.logo-brands .owl-item {
    padding: 5px;
   
    height: 120px;
    overflow: hidden;
}

.logo-brands .owl-item img {
    width: auto;
    margin: auto;
    max-height: 110px;
}
section.section p {
    color: #333;
}
section.section {
    background: #B5B5B5;
    border-top: 5px solid #f1f1f1;
    margin: 30px 0;
    padding: 50px 0;
}
.testimonial.testimonial-style-2.testimonial-with-quotes.mb-none p {
    color: #000;
}